<article class="rental">
  <div class="details">
    <h3></h3>
    <div class="detail owner">
      <span>Original Title:</span> El Camino: A Breaking Bad Movie
    </div>
    <div class="detail type">
      <span>Popularity:</span> 36.21
    </div>
    <div class="detail location">
      <span>Release Date:</span> 2019-10-11
    </div>
    <div class="detail bedrooms">
      <span>Number of Votes:</span> 2550
    </div>
  </div>
</article>