<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Movie Search App</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="popular-movies" class="menu-about">
      Popular Movies
    </LinkTo>
  </div>
</nav>