  <Header >
    <h2>Welcome to Movie Search App!</h2>
    <p>We hope you find exactly the movie you are looking for.</p>
    <LinkTo @route="popular-movies" class="button">Popular Movies</LinkTo>
  </Header>
<div class="rentals">
  <ul class="results">
    {{#each @model.results as |movie|}}
      <li><Movie @movie={{movie}} /></li>
    {{/each}}
  </ul>
</div>
