  <Header >
    <h2>Welcome to Movie Search App!</h2>
    <p>We hope you find exactly the movie you are looking for.</p>
    <LinkTo @route="popular-movies" class="button">Popular Movies</LinkTo>
  </Header>
<div class="rentals">
  <ul class="results">
    <li><Movie @movie={{@model}}/></li>
    <li><Movie @movie={{@model}}/></li>
    <li><Movie @movie={{@model}}/></li>
  </ul>
</div>
