<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Popular Movies</h2>
  <p>
    Search and find out the popular movies of all time!
  </p>
  <LinkTo @route="index" class="button">Homepage</LinkTo>

</div>