<Header>
  <h2>Popular Movies</h2>
    <p>
      Search and find out the popular movies of all times!
    </p>
  <LinkTo @route="index" class="button">Homepage</LinkTo>
</Header>
<div class="rentals">
  <ul class="results">
    {{#each @model.results as |movie|}}
      <li><Movie @movie={{movie}} /></li>
    {{/each}}
  </ul>
</div>

